@{
	ViewBag.Title = "Contact";
}
@{
	using (Html.CERS().Layout().BeginContentBlockPanel())
	{
		Html.CERS().Layout().BeginContentBlockHeader("Contact").End();
		using (Html.CERS().Layout().BeginContentBlockContent())
		{
	<p>
		TODO:FLESH OUT</p>
		}
	@Html.CERS().Layout().ContentBlockFooter()
	}

}