<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="CERS.Properties.Settings.CERS" connectionString="Data Source=cersdev.ca.epa.local;Initial Catalog=CERS;Persist Security Info=True;User ID=WebAppData;Password=w#b@pPDAtA" providerName="System.Data.SqlClient" />
		<add name="CERSEntities" connectionString="metadata=res://*/Model.CERSModel.csdl|res://*/Model.CERSModel.ssdl|res://*/Model.CERSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cersdev.ca.epa.local;initial catalog=CERS;persist security info=True;user id=WebAppData;password=w#b@pPDAtA;multipleactiveresultsets=True;application name=CERS-Pub-Dev&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>